<% title(@post.title) %>
<div class="post">
  <h2><a href="<%= slug_post_path(@post) %>" title="<%= @post.title %>"><%= @post.title %></a></h2>
  <div class="post_info clearfix">
    <span class="post_date"><%= l(@post.created_at, :format => :long) %></span>
  </div>
  <div class="post_body">
    <%= raw @post.body %>
  </div>
  <div class="box">
    <h3>Related Posts</h3>
    <ul>
      <li><a href="#">2008北京奥运会</a></li>
    </ul>
  </div>
  <div class="post_meta clearfix">
    <span class="post_categories"><a href="#" title="<%= @post.category.name %>"><%= @post.category.name %></a></span>
    <% if !@post.cached_tag_list.blank? -%>
      <span class="post_tags">
        <%= tags_link(@post) %>
      </span>
    <% end -%>
  </div>
</div>
<div class="comments box">
  <div class="comment_list">
    <h3>22 Responses to “<%= @post.title %>”</h3>
    <ul>
      <%= render @post.comments %>
    </ul>
  </div>
  <div class="comment_form">
    <h3>Leave a Reply</h3>
    <%= render "comments/form", :comment => @post.comments.new %>
  </div>  
</div>