<% title(@post.title) %>
<div class="post">
  <h2><a href="<%= slug_post_path(@post) %>" title="<%= @post.title %>"><%= @post.title %></a></h2>
  <div class="post_info clearfix">
    <span class="post_date"><%= l(@post.created_at, :format => :long) %></span>
  </div>
  <div class="post_body">
    <%= raw @post.body %>
  </div>
  <div class="box">
    <h3>Related Posts</h3>
    <ul>
      <li><a href="#">2008北京奥运会</a></li>
    </ul>
  </div>
  <div class="post_meta clearfix">
    <span class="post_categories"><a href="#" title="<%= @post.category.name %>"><%= @post.category.name %></a></span>
    <% if !@post.tag_list.blank? -%>
      <span class="post_tags">
        <% @post.tag_list.each_with_index do |t, i| -%>
          <a href="#" title="<%= t %>"><%= t %></a><%= "," if i != @post.tag_list.length - 1 -%>
        <% end -%>
      </span>
    <% end -%>
  </div>
</div>