<% title(@post.title) %>
<div class="post">
  <h2><a href="<%= slug_post_path(@post) %>" title="<%= @post.title %>"><%= @post.title %></a></h2>
  <div class="post_info clearfix">
    <span class="post_date"><%= l(@post.created_at, :format => :long) %></span>
  </div>
  <div class="post_body">
    <%= raw @post.body %>
  </div>
  <div class="box">
    <h3>Related Posts</h3>
    <ul>
      <li><a href="#">2008北京奥运会</a></li>
    </ul>
  </div>
  <div class="post_meta clearfix">
    <span class="post_categories"><a href="#" title="<%= @post.category.name %>"><%= @post.category.name %></a></span>
    <% if !@post.cached_tag_list.blank? -%>
      <span class="post_tags">
        <%= tags_link(@post) %>
      </span>
    <% end -%>
  </div>
</div>
<div class="comments box">
  <h3>22 Responses to “<%= @post.title %>”</h3>
  <ul>
    <li class="comment clearfix">
      <%= image_tag "default/avatar/avatar_38.png", :class => "avatar" %>
      <div class="comment_content">
        <div class="comment_info clearfix">
          <div class="comment_meta">
            <cite><a href="#">sapronlee</a></cite><span>says:</span>
          </div>
          <div class="comment_date">2011年3月09日 17:17</div>
        </div>
        <div class="comment_body">
          <p>赶紧放出来撒，羡慕~</p>
          <p>赶紧放出来撒，羡慕~</p>
        </div>   
      </div>
    </li>
    <li class="comment clearfix">
      <%= image_tag "default/avatar/avatar_38.png", :class => "avatar" %>
      <div class="comment_content">
        <div class="comment_info clearfix">
          <div class="comment_meta">
            <cite><a href="#">sapronlee</a></cite><span>says:</span>
          </div>
          <div class="comment_date">2011年3月09日 17:17</div>
        </div>
        <div class="comment_body">
          <p>赶紧放出来撒，羡慕~</p>
          <p>赶紧放出来撒，羡慕~</p>
        </div>   
      </div>
    </li>
  </ul>
</div>
<div class="comment_relay box">
  <h3>Leave a Reply</h3>
  <%= simple_form_for [@post, @comment] do |f| -%>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :page %>
    <%= f.input :comment %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end -%>
</div>