<% title @post.title %>
<div class="post">
  <h2><a href="<%= blog_post_path(@post.id, @post.slug) %>" title="<%= @post.title %>"><%= @post.title %></a></h2>
  <div class="post_info clearfix">
    <span class="post_date"><%= l(@post.created_at, :format => :long) %></span>    
  </div>
  <div class="post_body"><%= raw @post.body %></div>
  <div class="post_meta clearfix">
    <% if !@post.category_name.blank? -%>
      <span class="post_categories">
        <a href="<%= blog_category_path(@post.category_name) %>" title="<%= @post.category_name %>"><%= @post.category_name %></a>
      </span>
    <% end -%>
    <% if !@post.cached_tag_list.blank? -%>
      <span class="post_tags"><%= blog_tags_links(@post) %></span>
    <% end -%>
  </div>
</div>
<div id="comments" class="comments box">
  <div class="comment_list<%= " hidden" if @post.comments_count.zero? %>">
    <h3><span><%= @post.comment_threads.size %></span> Responses to “<%= @post.title %>”</h3>
    <ul><%= render :partial => "/comments/comment", :collection => @post.root_comments %></ul>
  </div>
  <div class="comment_form">
    <%= render "comments/form", :comment => @post.comment_threads.build %>
  </div> 
</div>
<script type="text/javascript">
  $(function() {
    $(".comment_list a.reply_comment").live('click', function() {
      $("a.cancel_reply").click();
      $(".comment_form").find("h3 a").show().end().insertBefore($(this).toggle())
      .find("input:hidden:last")
      .after("<input class=\"hidden\" id=\"comment_parent_id\" name=\"comment[parent_id]\" type=\"hidden\" value=\"" + $(this).parent().parent().attr("id").match(/\d+/) + "\">");
      return false;
    });
    $("a.cancel_reply").live('click', function() {
      $(".comment_form").find("#comment_parent_id").remove().end().next("a.reply_comment").show().end().insertAfter($(".comment_list")).end().find("#messages").hide();
      $(this).hide();
      return false;
    });
  });  
</script>
<div class="backtotop">
  <a href="#header">Back to top</a>
</div>
<%= content_for :sidebar do -%>
  <%= render "shared/sidebar" %>
<% end -%>