<% title @post.title %>
<div class="post">
  <h2><a href="<%= blog_slug_post_path(@post) %>" title="<%= @post.title %>"><%= @post.title %></a></h2>
  <div class="post_info clearfix">
    <span class="post_date"><%= l(@post.created_at, :format => :long) %></span>    
  </div>
  <div class="post_body"><%= raw @post.body %></div>
  <div class="post_meta clearfix">
    <% if !@post.category_name.blank? -%>
      <span class="post_categories">
        <a href="<%= category_path(@post.category_name) %>" title="<%= @post.category_name %>"><%= @post.category_name %></a>
      </span>
    <% end -%>
    <% if !@post.cached_tag_list.blank? -%>
      <span class="post_tags"><%= blog_tags_links(@post) %></span>
    <% end -%>
  </div>
</div>
<div id="comments" class="comments box">
  <div class="comment_list<%= " hidden" if @post.comments_count.zero? %>">
    <h3><span><%= @post.comments_count %></span> Responses to “<%= @post.title %>”</h3>
    <ul>
      <%# render :partial => "/comments/comment", :collection => @post.comments %>
    </ul>
  </div>
  <div class="comment_form">
    <h3>Leave a Reply</h3>
    <div id="messages" class="messages"></div>
    <%= render "comments/form", :comment => @post.comment_threads.build %>
  </div>  
</div>
<div class="backtotop">
  <a href="#header">Back to top</a>
</div>
<%= content_for :sidebar do -%>
  <%= render "shared/sidebar" %>
<% end -%>