<% title @post.title %>
<div class="post">
  <h2><a href="<%= blog_post_path(@post.id, @post.slug) %>" title="<%= @post.title %>"><%= @post.title %></a></h2>
  <div class="post_info clearfix">
    <span class="post_date"><%= l(@post.created_at, :format => :long) %></span>    
  </div>
  <div class="post_body"><%= raw @post.body %></div>
  <div class="post_meta clearfix">
    <% if !@post.category_name.blank? -%>
      <span class="post_categories">
        <a href="<%= blog_category_path(@post.category_name) %>" title="<%= @post.category_name %>"><%= @post.category_name %></a>
      </span>
    <% end -%>
    <% if !@post.cached_tag_list.blank? -%>
      <span class="post_tags"><%= blog_tags_links(@post) %></span>
    <% end -%>
  </div>
</div>
<div id="comments" class="comments box">
  <div class="comment_list<%= " hidden" if @post.comments_count.zero? %>">
    <h3><span><%= @post.comments_count %></span> Responses to “<%= @post.title %>”</h3>
    <ul>
      <%= render :partial => "/comments/comment", :collection => @post.root_comments %>
    </ul>
  </div>
  <div class="comment_form">
    <h3>Leave a Reply<a href="#" onclick="return reset_reply();">取消回复</a></h3>
    <div id="messages" class="messages"></div>
    <script type="text/javascript">
      $("div.success").live("oneTime", function() {
        $(this).fadeOut(600).fadeIn(600).oneTime("5s", "hide", function() {
          $(this).hide();
        });
      });
    </script>
    <%= render "comments/form", :comment => @post.comment_threads.build %>
  </div> 
</div>
<script type="text/javascript">
  var form_html = $(".comment_form");
  function reply(id) {
    form_html.find("h3 a").show().end().find("#comment_commentable_id")
    .after("<input class=\"hidden\" id=\"comment_parent_id\" name=\"comment[parent_id]\" type=\"hidden\" value=\"" + id + "\">");
    $("#comment-" + id).find(".comment_body:first").after(form_html).end().find(".reply_comment").hide();
    return false;
  }
  function reset_reply() {
    $(".comment_list").after(form_html);
    form_html.find("h3 a").hide().end().find("#comment_parent_id").remove();
    $(".reply_comment").show();
    $("#messages").hide();
    return false;
  }
</script>
<div class="backtotop">
  <a href="#header">Back to top</a>
</div>
<%= content_for :sidebar do -%>
  <%= render "shared/sidebar" %>
<% end -%>