<li id="comment_<%= comment.id %>" class="comment clearfix">
  <%= gravatar_image_tag(comment.email, :alt => comment.name, :class => "avatar") %>
  <div class="comment_content">
    <div class="comment_info clearfix">
      <div class="comment_meta">
        <cite>
          <% if !comment.page.blank? -%>
            <a href="http://<%= comment.page %>" title="<%= comment.page %>"><%= comment.name %></a>
          <% else -%>
            <%= comment.name %>
          <% end -%>
        </cite>
        <span>says:</span>
      </div>
      <div class="comment_date">
        <%= l(comment.created_at, :format => :long) %>
        <% if user_signed_in? %>
          <%= link_to "删除", comment_path(comment), :remote => true, :method => :delete %>
        <% end -%>
      </div>
    </div>
    <div class="comment_body">
      <%= simple_format comment.comment %>
    </div>   
  </div>
</li>