<%= simple_form_for comment, :remote => true do |f| -%>
  <%= f.input :commentable_type, :as => :hidden %>
  <%= f.input :commentable_id, :as => :hidden %>
  <%= f.input :user_name, :required => false, :label => "Name (required)", :input_html => { :size => 24 } %>
  <%= f.input :email, :required => false, :as => :string, :label => "Mail (required)", :input_html => { :size => 24 } %>
  <%= f.input :web_site, :label => "Website", :input_html => { :size => 24 } %>
  <%= f.input :body, :required => false, :label => false %>
  <div class="actions">
    <%= f.submit %>
    <div class="ajaxloading"><%= image_tag("icons/ajax/ajaxloading.gif") %></div>
  </div>
<% end -%>
<script type="text/javascript">
  $("#new_comment")
  .live("ajax:beforeSend", function() {
    $(this).find(".ajaxloading").show();
  })
  .live("ajax:complete", function() {
    $(this).find(".ajaxloading").hide();
  });
</script>