<h3>评论<a href="#" class="cancel_reply">取消回复</a></h3>
<div id="messages" class="messages"></div>
<%= simple_form_for comment, :remote => true, :html => { :novalidate => true } do |f| -%>
  <%= f.input :commentable_type, :as => :hidden %>
  <%= f.input :commentable_id, :as => :hidden %>
  <% if current_user -%>
    <div class="current_user">
      你已经成功登录，当前用户：<span><%= current_user.login %></span>
      <a href="<%= destroy_user_session_path %>" title="注销">注销</a>
    </div>
    <%= f.input :user_name, :as => :hidden, :input_html => { :value => current_user.login } %>
    <%= f.input :email, :as => :hidden, :input_html => { :value => current_user.email } %>
  <% else -%>
    <%= f.input :user_name, :required => false, :hint => "（必须填写）" %>
    <%= f.input :email, :required => false, :hint => "（必须填写，我们会为你保密）" %>
    <%= f.input :web_site, :hint => "（选填）" %>
  <% end -%>
  <%= f.input :body, :required => false, :label => false %>
  <div class="actions">
    <%= f.submit "提交评论" %>
    <div class="ajaxloading"><%= image_tag("icons/ajax/ajaxloading.gif") %></div>
  </div>
<% end -%>
<script type="text/javascript">
  $(function() {
    $("#new_comment")
      .live("ajax:beforeSend", function() { $(this).find(".ajaxloading").show(); })
      .live("ajax:complete", function() { $(this).find(".ajaxloading").hide(); });      
  });  
</script>