<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title || "ChuckBlog" %></title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "reset", "960", "application", :cache => "cached/application" %>
  <%= yield :styles %>
  <%= javascript_include_tag :defaults, :cache => "cached/application" %>
  <%= yield :scripts %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="<%= admin_root_path %>"></a></h1>
      <div id="navigation"></div>
    </div>
    <div id="main">
      <table>
        <tr>
          <td></td>
          <td><%= yield %></td>
        </tr>
      </table>
    </div>
    <div id="footer"></div>
  </div>
</body>
</html>