<% if !@recent_comments.blank? -%>
<div id="recent_comments" class="sbox">
  <h4>最新评论</h4>
  <ul>
    <% @recent_comments.each do |c| -%>
      <li><a href="<%= "#{post_path("#{c.post_id}-#{c.post_slug}")}#comment-#{c.id}" %>" title="<%= c.body %>"><%= truncate(c.body, :length => 20) %></a></li>
    <% end -%>
  </ul>
</div>
<% end -%>

<% if !@categories.blank? -%>
<div id="categories" class="sbox">
  <h4>分类</h4>
  <ul>
    <% @categories.each do |c| -%>
      <li><a href="<%= category_path(c.alias) %>" title="<%= c.name %>"><%= c.name %></a></li>
    <% end -%>
  </ul>
</div>
<% end -%>

<% if !@recent_posts.blank? -%>
<div id="recent_posts" class="sbox">
  <h4>最新文章</h4>
  <ul>
    <% @recent_posts.each do |p| -%>
      <li><a href="<%= post_path(p) %>" title="<%= p.title %>"><%= p.title %></a></li>
    <% end -%>
  </ul>
</div>
<% end -%>

<% if !@recent_tags.blank? -%>
<div class="tags sbox">
  <h4>标签云</h4>
  <div class="tag_list">
    <% tag_cloud(@recent_tags, %w(tc1 tc2 tc3 tc4 tc5)) do |tag, css_class| %>
      <a href="<%= tag_path(tag.name) %>" title="<%= tag.name %>" class="<%= css_class %>"><%= tag.name %></a>
    <% end -%>
    <a href="<%= tags_path %>" title="更多标签" class="more">more...</a>
  </div>
</div>
<% end -%>