<%= render "base" %>
<h2>点击图片插入到编辑框。</h2>
<div id="file_list">
  <% if !@files.blank? %>
    <ul class="clearfix">
      <% @files.each do |f| -%>
      <li class="item">
        <script type="text/javascript">
          var content_<%= f.id %> = "<img src=\"<%= f.file.url %>\" alt=\"<%= f.description %>\" />";
        </script>
        <a href="#" title="点击图片插入" class="add" onclick="parent.addContentFormTextArea(content_<%= f.id %>);">
          <%= image_tag(f.file.url(:thumb), :alt => f.description ) %>
        </a>
        <ul>
          <li><span>大小：</span><%= number_to_human_size(f.file_file_size) %></li>
          <li><span>上传日期：</span><%= l(f.file_updated_at.to_date, :format => :long) %></li>
          <li class="delete"><%= link_to("删除", admin_post_file_path(f), :method => :delete) %></li>
        </ul>
      </li>
      <% end -%>
    </ul>
  <% else -%>
  <p>你还没有上传任何附件,<a href="<%= new_admin_post_file_path %>">点击上传</a></p>
  <% end -%>
  <%= will_paginate @files %>
</div>