<div class="top_corner"></div>
<div class="content">
  <div class="imgbox">
    <a href="#"><%= theme_image_tag("myworks.gif") %></a>
  </div>
  <% if !@recent_comments.blank? -%>
  <div class="box">
    <h3>RECENT COMMENTS</h3>
    <ul>
      <% @recent_comments.each do |c| -%>
        <li><a href="<%= "#{slug_post_path(c.commentable)}#comment_#{c.id}" %>" title="<%= c.comment %>"><%= c.comment %></a></li>
      <% end -%>
    </ul>
  </div>
  <% end -%>
  
  <% if !@categories.blank? -%>
  <div class="box">
    <h3>CATEGORIES</h3>
    <ul>
      <% @categories.each do |c| -%>
        <li><a href="#" title="<%= c.name %>"><%= c.name %></a></li>
      <% end -%>
    </ul>
  </div>
  <% end -%>
  
  <% if !@recent_posts.blank? -%>
  <div class="box">
    <h3>RECENT POSTS</h3>
    <ul>
      <% @recent_posts.each do |p| -%>
        <li><a href="<%= slug_post_path(p) %>" title="<%= p.title %>"><%= p.title %></a></li>
      <% end -%>
    </ul>
  </div>
  <% end -%>
  
  <% if !@tags.blank? -%>
  <div class="box">
    <% tag_cloud(@tags, %w(css1 css2)) do |tag, css_class| %>
      <a href="#" class="<%= css_class %>"><%= tag.name %></a>
    <% end -%>
  </div>
  <% end -%>
</div>
<div class="bottom_corner"></div>