<%= simple_form_for [:admin, @post] do |f| %>
  <%= f.input :title, :input_html => { :class => "long" } %>
  <%= f.association :category, :label => "分类", :collection => Category.find(:all), :prompt => "选择分类" %>
  <%= f.input :summary, :as => :text, :input_html => { :class => "tmedium" } %>
  <%= f.input :body, :input_html => { :class => "tmedium mceEditor" } %>
  <div class="actions pl78">
    <%= f.button :submit %>
  </div>
<% end -%>