<%= simple_form_for [:admin, @post] do |f| %>
  <%= f.input :title, :label => false, :input_html => { :class => "long" } %>
  <div class="col2 clearfix">
    <%= f.association :category, :label => "分类", :hint => false, :collection => Category.find(:all), :prompt => "选择分类" %>
    <div class="select upload">      
      <a href="#" class="button" onclick="dialog('上传图片');">上传图片</a>
      <div id="dialog" title=""></div>
    </div>
  </div>
  <%= f.input :body, :input_html => { :class => "long" } %>
  <%= f.input :slug, :input_html => { :class => "long" } %>
  <a id="ad_options" href="#" onclick="return advanced_options();"><span class="fh">+</span><span class="wz">显示</span>高级选项</a>
  <div id="ad_options_wapper">
    <%= f.input :summary, :as => :text, :input_html => { :class => "long", :style => "height:80px" } %>
    <%= f.input :tag_list, :input_html => { :class => "long" } %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end -%>
<script type="text/javascript">
  $("#post_body").tinymce({    
    theme : "advanced",    
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    theme_advanced_statusbar_location : "bottom",
    plugins : "save,fullscreen,paste,searchreplace,preview,media",
    theme_advanced_buttons1 : "save,newdocument,|,undo,redo,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,outdent,indent,|," +
      "bullist,numlist,|,formatselect,fontselect,fontsizeselect,|,fullscreen,code,preview",
    theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,selectall,|,search,replace,|,link,unlink,anchor,image,media,|,forecolor,backcolor,|,sub,sup,|,visualaid,charmap",
    theme_advanced_buttons3 : "",
    height : 500,
    language : "zh-cn"
  });
    
  function dialog(title) {
    $("#dialog:ui-dialog").dialog("destroy");
    $("#dialog").attr("title", title);
    $("#dialog").dialog({
      autoOpen : false,
      modal : true,
      width : 600,
      height: 600,
      closeText : "关闭",
      resizable : false,
      draggable : false
    });
    $("#dialog").empty().append("<iframe id=\"upload_iframe\" src=\"<%= new_admin_post_file_path %>\"></iframe>").dialog("open");
    return false;
  }
  
  function addContentFormTextArea(content) {
    $("#dialog").dialog("close");
    $("#post_body").tinymce().execCommand("mceInsertContent", false, content);
  }
  
  function advanced_options() {    
    if($("#ad_options_wapper").css("display") == "none") {
      $("#ad_options_wapper").show();
      $("#ad_options span.wz").text("隐藏");
      $("#ad_options span.fh").text("-");
      $("#ad_options").blur();
    } else {
      $("#ad_options_wapper").hide();
      $("#ad_options span.wz").text("显示");
      $("#ad_options span.fh").text("+");
    }
    return false;
  }
</script>