<% title("文章列表") %>
<% render "base" %>
<% content_for :sitemaps do -%>
  <span>列表</span>
<% end -%>
<%= content_for :scripts do -%>
<script type="text/javascript">  
  $(function() {
    /*删除确认*/
    $("a.delete").click(function() {
      $("#posts_form").attr("action", $(this).attr("href"));
      $("#dialog").dialog("open");
      return false;
    });
    /*全选反选*/
    $("#select_all").click(function() {
      if(this.checked) {
        $("#posts_lists table input[id='grid_selected_']").each(function() {$(this).attr("checked", true)});
      } else {
        $("#posts_lists table input[id='grid_selected_']").each(function() {$(this).attr("checked", false)});
      }
    });
  });
</script>
<% end -%>
<div id="posts_lists" class="clearfix">
  <form id="posts_form" action="" method="post">
    <input type="hidden" name="_method" value="delete" />
    <%= auth_token %>
    <table class="wice_grid">
      <thead>
        <tr class="wice_grid_title_row">
          <th class="sel"><input type="checkbox" id="select_all"></th>
          <th class="tl">标题</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% if !@posts.blank? -%>
        <% @posts.each_with_index do |c, i| -%>
        <tr class="<%= i % 2 == 0 ? "odd" : "even" %>">  
          <td class="sel"><%= check_box_tag "grid[selected][]", c.id %></td>
            <td><%= c.title %></td>
            <td class="actions"><%= record_action_link(c, :ns => :admin) %></td>
          </tr>
          <% end -%>
          <% else -%>
          <tr>
            <td colspan="3" class="empty">无任何数据</td>
          </tr>
        <% end -%>
      </tbody>
    </table>
    <div id="footer_actions" class="clearfix">
      <div class="actions">
        <input type="button" value="删除" class="button" onclick="delete_all();">
        <script type="text/javascript">
          function delete_all() {
            if($("#posts_lists table input[id='grid_selected_']:checked").length > 0) {
              $("#posts_form").attr("action", "<%= destroy_selected_admin_posts_path %>").submit();
            }
            return false;
          }        
        </script>
      </div>
      <%= will_paginate @posts %>
    </div>
  </form>  
  <div id="dialog" title="提示信息">
    <p>
      <span class="ui-icon ui-icon-alert"></span>
      <span class="text">你确定要删除该条数据吗？数据删除后不可恢复！</span>
    </p>
  </div>
  <script type="text/javascript">
    $("#dialog:ui-dialog").dialog("destroy");
    $("#dialog").dialog({
      autoOpen : false,
      modal : true,
      closeText : "关闭",
      resizable : false,
      draggable : false,
      buttons : {
        "确定" : function() {
          if($("#posts_form").attr("action")) {
            $("#posts_form").submit();
          }
          $(this).dialog("close");
        },
        "取消" : function() {
          $("#posts_form").attr("action", "");
          $(this).dialog("close");
        }
      }
    });
  </script>
</div>