<% title("设置") %>
<%= render "base" %>
<% content_for :sitemaps do -%>
  <span>全局设置</span>
<% end -%>
<div id="admin_settings" class="simple_form">
  <form accept-charset="UTF-8" action="" class="simple_form" method="post" autocomplete="off">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <table class="tb">
      <tr class="label">
        <td colspan="2"><label for="app_name">网站名称:</label></td>
      </tr>
      <tr class="noborder">
        <td class="centent"><input type="text" id="app_name" class="string" name="settings[app_name]" value="<%= Setting.app_name %>"></td>
        <td class="hint">网站名称，将显示在页面底部的联系方式处</td>
      </tr>
      <tr class="label">
        <td colspan="2"><label for="site_name">站点名称:</label></td>
      </tr>
      <tr class="noborder">
        <td class="centent"><input type="text" id="site_name" class="string" name="settings[site_name]" value="<%= Setting.site_name %>"></td>
        <td class="hint">站点名称，将显示在浏览器窗口标题等位置</td>
      </tr>
      <tr class="label">
        <td colspan="2"><label for="page_size">文章分页数:</label></td>
      </tr>
      <tr class="noborder">
        <td class="centent"><input type="text" id="page_size" class="string" name="settings[page_size]" value="<%= Setting.page_size %>"></td>
        <td class="hint">每页显示文章数，只能为数字，默认为10</td>
      </tr>
      <tr class="label">
        <td colspan="2"><label for="statistics_code">网站第三方统计代码:</label></td>
      </tr>
      <tr class="noborder">
        <td class="centent"><textarea id="statistics_code" class="text" name="settings[statistics_code]"><%= Setting.statistics_code %></textarea></td>
        <td class="hint">页面底部可以显示第三方统计，如google、51la等<br>如果没有请留空 <br>双击输入框可扩大/缩小</td>
      </tr>
      <tr class="label">
        <td colspan="2"><label for="key_words">网站关键字:</label></td>
      </tr>
      <tr class="noborder">
        <td class="centent"><input type="text" id="key_words" class="string" name="settings[key_words]" value="<%= Setting.key_words %>"></td>
        <td class="hint">网站的关键字，用","分割，用户SEO优化</td>
      </tr>
      <tr class="label">
        <td colspan="2"><label for="description">网站描述:</label></td>
      </tr>
      <tr class="noborder">
        <td class="centent"><textarea id="description" class="text" name="settings[description]"><%= Setting.description %></textarea></td>
        <td class="hint">网站描述，用于SEO优化 <br>双击输入框可扩大/缩小</td>
      </tr>
      <tr class="label">
        <td colspan="2"><label for="icp">网站备案信息代码:</label></td>
      </tr>
      <tr class="noborder">
        <td class="centent"><input type="text" id="icp" class="string" name="settings[icp]" value="<%= Setting.icp %>"></td>
        <td class="hint">如果网站已备案，在此输入你的 ICP 备案信息，它将显示在页面底部，如果没有请留空</td>
      </tr>
      <tr>
        <td colspan="2"><button class="button submit">保存设置</button></td>
      </tr>
    </table>    
  </form>
</div>