<%= simple_form_for [:admin, @category] do |f| %>
<div class="col2 clearfix">
  <%= f.input :name, :input_html => { :class => "" } %>
  <%= f.input :alias, :input_html => { :class => "" } %>
</div>
  <%= f.input :description, :as => :text, :input_html => { :class => "long", :style => "height:100px" } %>
  <div class="actions pl78">
    <%= f.button :submit %>
  </div>
<% end -%>