<% title("分类列表") %>
<% render "base" %>
<% content_for :sitemaps do -%>
  <span>列表</span>
<% end -%>
<div id="categories_lists" class="clearfix">
  <table class="wice_grid">
    <thead>
      <tr class="wice_grid_title_row">
        <th class="sel"><input type="checkbox"></th>
        <th class="tl">名称</th>
        <th class="tl">别名</th>
        <th>文章</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% if !@categories.blank? -%>
        <% @categories.each_with_index do |c, i| -%>
          <tr class="<%= i % 2 == 0 ? "odd" : "even" %>">  
           <td class="sel"><%= check_box_tag "grid[selected][#{c.id}]", c.id %></td>
           <td class="name"><%= c.name %></td>
           <td class="name"><%= c.alias %></td>
           <td class="mun"><%= c.posts_count %></td>
           <td class="actions"><%= raw "#{link_to("编辑", edit_admin_category_path(c))} | #{link_to("删除", admin_category_path(c), :method => :delete, :confirm => "你确定删除吗？")}" %></td>
          </tr>
        <% end -%>
      <% else -%>
        <tr>
          <td colspan="5" class="empty">暂无分类</td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <%= will_paginate @categories %>
</div>


