<% content_for :base_sitemaps do -%>
  <a href="<%= admin_users_path %>">用户</a>
  <span class="space_mark">»</span>
<% end -%>
<% content_for :tools do -%>
  <div class="menu">
    <%= spaceless do -%>
      <a href="<%= admin_users_path %>" class="button group left<%= ' checked' if ["index", "search"].index(action_name) %>">列表</a>
      <% if ["edit", "update"].index(action_name) -%>
        <a href="<%= edit_admin_user_path(@category) %>" class="button group checked">修改用户</a>
      <% end -%>
      <a href="<%= new_admin_user_path %>" class="button group right<%= ' checked' if ["new", "create"].index(action_name) %>">创建用户</a>
    <% end -%>
  </div>
  <% if ["index", "search"].index(action_name) -%>
    <div class="search">
      <form action="<%= search_admin_users_path %>" method="post">
        <%= auth_token %>
        <input maxlength="50" class="input" name="login" autocomplete="off" placeholder="搜索的用户" type="search" value="<%= params[:login] %>" />
        <input class="button" type="submit" value="搜索" />
      </form>
    </div>
  <% end -%>
<% end -%>