<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title || Setting.site_name %></title>
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/css?family=Fontdiner+Swanky:regular" rel="stylesheet" type="text/css" >
  <%= stylesheet_link_tag "reset", "jquery-ui", "wice_grid", "admin/common" %>
  <%= yield :styles %>
  <%= javascript_include_tag :defaults, "jquery/jquery.timers", "tiny_mce/jquery.tinymce", "tiny_mce/tiny_mce" %>
  <%= yield :scripts %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header_container">
      <div id="header" class="clearfix">
        <h1><a href="<%= root_path %>"><%= Setting.app_name %></a></h1>
        <div id="navigation">
          <ul class="clearfix">
            <li><a href="<%= admin_root_path %>"<%= ' class=current' if params[:controller] == "admin/home" %> id="home">首页</a></li>
            <li><a href="<%= admin_categories_path %>"<%= ' class=current' if params[:controller] == "admin/categories" %> id="category">分类</a></li>
            <li><a href="<%= admin_posts_path %>"<%= ' class=current' if params[:controller] == "admin/posts" %> id="post">文章</a></li>
            <li><a href="<%= admin_settings_path %>"<%= ' class=current' if params[:controller] == "admin/settings" %> id="setting">设置</a></li>
          </ul>
        </div>
        <div id="users">
          <span class="greeting">welcome！</span>
          <span class="name"><a href="<%= edit_user_registration_path %>" title="修改信息"><%= current_user.login %></a></span>
          <a href="<%= root_path %>" title="返回首页" class="homepage" target="_blank">返回首页</a>
          <a href="<%= destroy_user_session_path %>" title="注销" class="logout">注销</a>
        </div>
      </div>
    </div>
    <div id="main_container">
      <div id="main">
        <div id="sitemaps">
          <span class="prompt">当前位置:</span>
          <a href="<%= admin_root_path %>">后台管理</a>
          <span class="space_mark">»</span>
          <%= yield :base_sitemaps %>
          <%= yield :sitemaps %>
        </div>
        <div class="tools clearfix">
          <%= yield :tools %>          
        </div>
        <% if !notice.blank? %>
          <div class="massage ui-state-highlight ui-corner-all"><%= notice %></div>
        <% end -%>
        <% if !alert.blank? %>
          <div class="massage ui-state-error ui-corner-all"><%= alert %></div>
        <% end -%>
        <script type="text/javascript">
          $(".massage").fadeOut(600).fadeIn(600).oneTime("5s", "hide", function() {
            $(this).hide();
          });
        </script>
        <%= yield %>
      </div>
    </div>
    <div id="footer_container">
      <p>© 2011 ChuckBlog. All rights Reserved.</p>
    </div>
  </div>
</body>
</html>