<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "reset", "jquery-ui", "wice_grid", "admin/common" %>
  <%= yield :styles %>
  <%= javascript_include_tag :defaults, "jquery/jquery.timers", "tiny_mce/jquery.tinymce", "tiny_mce/tiny_mce" %>
  <%= yield :scripts %>
  <script type="text/javascript">
  // 禁止在iframe外打开
  if (top.location == self.location) {
    location.href = "/";
  }
  </script>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= yield %>        
</body>
</html>